/* Mobile First View */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#photo_grid {
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    margin-left: 8px;
    margin-right: 8px;
}

.grid_column {
    margin-top: 0;
    max-width: 100%;
    vertical-align: middle;
}

.grid_column img {
    padding: 6px;
    width: 100%;
    border-radius: 15px;
}

.grid_column :hover {
    background-color: rgba(255, 255, 255, 0.300);
    border-radius: 15px;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


    #photo_grid {
        display: flex;
        flex-direction: row;
        margin-left: 8px;
        margin-right: 10px;
    }

    .grid_column {
        max-width: 50%;
        padding: 0px;
        display: flex;
         flex-direction: row;
    }

    .grid_column img {
        padding: 6px;
    }

    

   
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .grid_column {
        max-width: 25%;

    }
}